<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Manage Databases</title>
</head>
<body>
<div class="container">
    <a href="{{ url_for('index') }}">Home Page</a>
    <h1>Manage Databases and Tables</h1>

          <form action="{{ url_for('newtable') }}" method="POST">
       
         <label for="title">Table Title:</label>
         <input type="text" id="title" name="title" placeholder="Enter the post title" required><br><br>
       
         <label for="content">Table Content:</label>
         <textarea id="content" name="content" placeholder="Enter the post content" required></textarea><br><br>
       
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" placeholder="Enter a category" required><br><br>

                <label for="tags">Tags (comma-separated)</label>
        <input type="text" id="tags" name="tags" placeholder="Enter tags"required><br><br>
        
        <label for="author">Author Name:</label>
        <input type="text" id="author" name="author" placeholder="Enter your name" required><br><br>

             <label for="date">Publication Date:</label>
        <input type="date" id="date" name="date" required><br><br>
        <button type="submit">Create Post</button>
    </form>
<a href="{{ url_for('index') }}"></a>


</div>
</body>
</html>
